.item-card__card {
  position: relative;
  width: 325px;
  height: 328px;
  border-radius: 20px;
  overflow: hidden;
}

.item-card__card-image {
  max-width: 100%;
}

.item-card__card-text {
  position: absolute;
  top: 15px;
  left: 125px;
  background-color: #fff;
  opacity: 0.6;
  padding: 2px 12px;
  border-radius: 4px;
  margin: 0;
}
