.clothes-section {
  width: 100%;
}

.clothes-section__header {
  display: flex;
  align-items: center;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  min-height: 56px;
}

.clothes-section__text {
  font-weight: 700;
  margin: 0 20px 0 0;
  line-height: 24.8px;
}

.clothes-section__add-btn {
  border: none;
  background: none;
  font-weight: 700;
  line-height: 24.8px;
  transition: opacity 0.15s linear 0s;
  cursor: pointer;
}

.clothes-section__add-btn:hover {
  opacity: 0.6;
}

.clothes-section__list {
  display: grid;
  font-family: "Cabinet Grotesk";
  grid-template-columns: repeat(auto-fit, 325px);
  max-width: 100%;
  grid-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
